spring:
  datasource:
    url: jdbc:mysql://localhost:3306/capstone?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    uk.jinhy.capstone: DEBUG
